*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    position: relative;
}
section{
    z-index: 1;
}    
.wrap{
    position: relative;
    width: 100%;
    height: 100%;
}

/**----네비게이션 적용---**/
nav{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 0px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-top: 49px;
}
.sub_nav{
    width: 100%;
    height: 844px;
    border: 0px solid blue;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    z-index: 10;
}
.menubar{
    width: 100%;
    height: 135px;
    border: 0px solid green;
    background-image: url('img/logo.png');
    display: flex;
    justify-content: space-between;
    

}
.menu{
    width: 100%;
    height: 53px;
    border: 0px solid red;
    text-align: center;
    margin-top: 318px;
    letter-spacing: -0.05em;
    text-transform: capitalize;
    transition: all 1s;
}
.menu > a{
    color: white;
    border: 0px solid red;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 40px;
}
.menu > a:hover{
    color: #2c2c2c;
    font-weight: 700;
    
}

/**---푸터 적용 (공통)---**/
footer{
    width: 100%;
    height: 10px;
    bottom: 20px;
}
.footer_img{
    margin: 0 auto;
    width: 100%;
    height: 50px;
    bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid pink;
}
.logo_position{
    margin: 0 auto;
    width: 100%;
    height: 50px;
    margin-top: 20x;
    bottom: 20px;
    border: 0px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}





/**--서브페이지01--**/

.sub01_box01{
    width: 100%;
    margin: 0 auto;
    margin-top: 54px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**--서브페이지02--**/

.sub01_box02{
    width: 100%;
    margin: 0 auto;
    margin-top: 1px;
    margin-bottom: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}
